<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot WebSocket</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>
<div id="chat-container">
    <div th:each="room : ${rooms}">
        <span> <a th:href="${room.id}" th:text="комната + ${room.id}"> </a> </span>

    </div>
</div>

<form method="post">
    <button type="input">Добавить комнату</button>
</form>

</body>
</html>